:root {
    --misty-moss: #d4c685ff;
    --khaki-x-11-light-khaki: #f7ef81ff;
    --yellow-green-crayola: #cfe795ff;
    --amaranth-purple: #a40e4cff;
    --space-cadet: #2c2c54ff;
}


body {
    background-color: var(--misty-moss);
    font-family: "Montserrat";
}

.grid-item {
    background-color: white;
}

body #grid-container {
    display: grid;
    width: 600px;
    height: 600px;
    background-color: black;
    margin: 0 auto;
    padding: 0;
    /* grid-template-columns: "auto"; */
}





.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    text-align: center;
}



.container {
    display: flex;
    flex-direction: row;
    align-items: center;

}




/* colors */
.grid-item:hover {
    background-color: #B4656F;
}


.colorItYellow {
    background-color: var(--yellow-green-crayola);
}

.colorItBlue {
    background-color: var(--space-cadet);
}

.colorItRed {
    background-color: var(--amaranth-purple);
}

/* Nice looking button */
/* From uiverse.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #B4656F;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #B4656F;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}